*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    overscroll-behavior: none;
}

body{
    /* margin: 0px; */
    height: 100%;
}

.navBar{
    position: relative;
    /* height: 80px; */
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.addIcon{
    margin-right: 20px;
    margin-left: auto;
    transform: rotate(0deg);
    transition: transform 0.2s;
}

.addIconClose{
    transform: rotate(45deg);
}

#map{
    height: calc(100% - 80px);
    width: 100%;
    z-index: 1;
}

.addContainer{
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
}

.addView{
    background-color: white;
    position: fixed;
    z-index: 2;
    top: -500px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    transition: top 0.5s;
    border-radius: 0px 0px 20px 20px;
}

.openView{
    top: 80px !important;
}

.addViewTitle{
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
}

.locationContainer{
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.locationContainerSpinner{
    margin: 10px;
    min-width: 40px;
    display: none;
}

/* location icon */
@keyframes outerAnim {
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.5);
        opacity: 0;
    }
}

.locationIcon{
    margin: 10px;
    min-width: 40px;
}

.outerCircle{
    animation: outerAnim 1s infinite;
    transform-origin: center;
}

.locationContainerText{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(100,100,100);
    cursor: pointer;
}

.addInputDes{
    margin-left: 20px;
    margin-top: 5px;
}

.addInput{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
}

.addInput{
    display: none;
}

.locationInputDes{
    display: none;
}

.addImageInput{
    margin-left: 20px;
    margin-top: 20px;
    width: calc(100% - 48px);
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 4px dashed rgba(0, 0, 0, 0.3);
    background-color: white;
    color: grey;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.highlight{
    background-color: rgba(0, 0, 0, 0.6);
    border: 4px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.imageError{
    background-color: rgba(255, 0, 0, 0.6);
    border: 4px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.addImageTextHidden{
    display: none;
}

.addImagePreview{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.addImagePreviewShow{
    display: block !important;
}

.addSubmitButton{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.addLogoSelector{
    display: flex;
    flex-direction: row;

    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    justify-content: center;
}

.logoELement{
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.logoElementSelected{
    background-color: rgba(155, 155, 155, 0.329);
}

.addSubmitButtonPressed{
    animation: submitPressed 2s infinite;
}

.successView{
    background-color: white;
    position: fixed;
    z-index: 2;
    top: -300px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    transition: top 0.5s;
    border-radius: 0px 0px 20px 20px;
}

.successText{
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 14px;
    color:rgb(49, 49, 49)
}

.successEmail{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid 1px rgba(200,200,200);
    outline: none;
    transition: border-color 0.2s;
}

.invalid{
    border-color: rgb(248, 50, 50);
}

.customDivIcon{
    background-color: white;
    border-radius: 50%;
    padding: 4px;
}


/* leaflet popup styling */
.leaflet-popup-content-wrapper .leaflet-popup-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.leaflet-popup-content-wrapper .leaflet-popup-content h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.leafletMarkerButton {
    background-color:#61518f;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    margin-left: auto;    
    margin-right: auto;
    width: 80%;

}

/* Maybe add styling for when you hover or click a button? */
.leafletMarkerButton:hover {
    /* background-color:#be0202; */
}

/* nearYouMobileOverlay */
#nearYouMobileOverlay {
    position: fixed;
    z-index: 999;
    bottom: -90%; /* Initially at 10% visible */
    left: 0;
    width: 100%;
    height: 100%; /* Full screen height */
    background-color: rgb(255, 255, 255);
    /* border: 5px solid #61518f; */
    transition: bottom 0.5s, border-radius 0.5s; /* Transition for sliding  */
    transition-timing-function: 'ease-in';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
     /* Enable scrolling if content exceeds screen height */
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
}

#nearYouMobileLine {
    margin-top: 0.5rem;
    width: 10%;
}

#nearYouMobileTopText {
    margin-top: 0.5rem;
}

#nearYouMobileP {
    padding: 0 2rem;
    opacity: 0;
    transition: opacity 0.8s;
    transition-timing-function: 'ease-in';
}

.stickerDivH1 {
    /* opacity: 0; */
}