html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  height: 100%;
}

button,
.addSubmitButton {
  background-color: var(--board-color);
  color: var(--secondary-color);
}

/* Nav bar */
.navBar {
  position: relative;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 5;
  box-shadow: 0px 3px 5px var(--shadow-color);
  background-color: var(--board-color);
  color: var(--light-text-color);
}

.addIcon {
  margin-left: auto;
  margin-right: 0;
  transform: rotate(0deg);
  transition: transform 0.2s;
}

.addIcon:hover {
  cursor: pointer;
}

.addIcon>line {
  stroke: var(--background-color);
}

.addIconClose {
  transform: rotate(45deg);
}

#navUserName,
#navAdminLink {
  font-weight: 500;
  margin-right: 20px;
  margin-left: 20px;
  align-self: center;
}

#navUserName:hover {
  cursor: pointer;
}

#navAdminLink a {
  text-decoration: inherit;
  color: inherit;
}

#navAdminLink:hover {
  cursor: pointer;
}

/* Map */
#mapOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  pointer-events: none;
}

#overlayText {
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 25px;
  font-weight: bold;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Sticker adding */
.addContainer {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.addView {
  background-color: var(--background-color);
  position: fixed;
  z-index: 2;
  top: -100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  transition: top 0.5s;
  border-radius: 0px 0px 20px 20px;
}

.openView {
  top: var(--navbar-height) !important;
}

.addViewTitle {
  color: var(--dark-text-color);
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 20px;
}

/* Sticker adding: location */
.locationContainer {
  background-color: var(--element-background-color);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.locationContainerSpinner {
  margin: 10px;
  min-width: 40px;
  display: none;
}

.locationIcon {
  margin: 10px;
  min-width: 40px;
}

.locationContainerCircle {
  stroke: var(--board-color);
}

.circle {
  fill: var(--board-color);
}

.outerCircle {
  animation: outerAnim 1s infinite;
  transform-origin: center;
}

.locationContainerText {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--lighter-text-color);
  cursor: pointer;
}

/* Sticker adding: location animation */
@keyframes outerAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.addSubmitButtonPressed {
  background: linear-gradient(-45deg, rgb(200, 200, 200), var(--board-color));
  background-size: 200% 400%;
  animation: submitPressed 2s ease infinite;
}

@keyframes submitPressed {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.addInputDes {
  margin-left: 20px;
  margin-top: 5px;
}

.addInput {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
}

.addInput {
  display: none;
}

.locationInputDes {
  display: none;
}

.addImageInput {
  margin-left: 20px;
  margin-top: 20px;
  width: calc(100% - 48px);
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 4px dashed var(--border-see-through-color);
  background-color: var(--background-color);
  color: var(--lighter-text-color);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

/* Sticker adding: drag and drop image */
.highlight {
  background-color: var(--drop-image-see-through-color);
  border: 4px solid var(--border-drop-image-see-through-color);
  color: var(--light-text-color);
}

/* Sticker adding */
.imageError {
  background-color: var(--error-color);
  border: 4px solid var(--border-drop-image-see-through-color);
  color: var(--light-text-color);
}

.addImageTextHidden {
  display: none;
}

.addImagePreview {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addImagePreviewShow {
  display: block !important;
}

.addSubmitButton {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  font-weight: bold;
  cursor: pointer;
}

.addLogoSelector {
  display: flex;
  flex-direction: row;

  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  justify-content: center;
}

.logoELement {
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.boarYearInput {
  display: flex;
  margin: 15 20px;
}

#boardYearInputSelect {
  margin-left: 1rem;
}

#boardYearInputSelect option {
  color: var(--light-text-color);
}

#boardYearInputSelect option:hover {
  background-color: #00ff33;
}

#boardYearInputSelect option:nth-child(1),
.marker-B1 {
  background: var(--board-1-color);
}

#boardYearInputSelect option:nth-child(2),
.marker-B2 {
  background: var(--board-2-color);
}

#boardYearInputSelect option:nth-child(3),
.marker-B3 {
  background: var(--board-3-color);
}

#boardYearInputSelect option:nth-child(4),
.marker-B4 {
  background: var(--board-4-color);
}

#boardYearInputSelect option:nth-child(5),
.marker-B5 {
  background: var(--board-5-color);
}

#boardYearInputSelect option:nth-child(6),
.marker-B6 {
  background: var(--board-6-color);
}

#boardYearInputSelect option:nth-child(7),
.marker-B7 {
  background: var(--board-7-color);
}

#boardYearInputSelect option:nth-child(8),
.marker-B8 {
  background: var(--board-8-color);
}

#boardYearInputSelect option:nth-child(9),
.marker-B9 {
  background: var(--board-9-color);
}

#boardYearInputSelect option:nth-child(10),
.marker-B10 {
  background: var(--board-10-color);
}

#boardYearInputSelect option:nth-child(11),
.marker-B11 {
  background: var(--board-11-color);
}

#boardYearInputSelect option:nth-child(12),
.marker-B12 {
  background: var(--board-12-color);
}

#boardYearInputSelect option:nth-child(13),
.marker-B13 {
  background: var(--board-13-color);
}

#boardYearInputSelect option:nth-child(14),
.marker-B14 {
  background: var(--board-14-color);
}

#boardYearInputSelect option:nth-child(15),
.marker-B15 {
  background: var(--board-15-color);
}

#boardYearInputSelect option:nth-child(16),
.marker-B16 {
  background: var(--board-16-color);
}

#boardYearInputSelect option:nth-child(17),
.marker-B17 {
  background: var(--board-17-color);
}

#boardYearInputSelect option:nth-child(18),
.marker-B18 {
  background: var(--board-18-color);
}

#boardYearInputSelect option:nth-child(19),
.marker-B19 {
  background: var(--board-19-color);
}

#boardYearInputSelect option:nth-child(20),
.marker-B20 {
  background: var(--board-color);
}

/* .logoElementSelected{
    background-color: rgba(155, 155, 155, 0.329);
} */

.addSubmitButtonPressed {
  animation: submitPressed 2s infinite;
}

/* Sticker adding: adding succes */
.successView {
  background-color: var(--background-color);
  position: fixed;
  z-index: 2;
  top: -300px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  transition: top 0.5s;
  border-radius: 0px 0px 20px 20px;
}

.successText {
  margin-top: 10px;
  margin-left: 22px;
  margin-right: 22px;
  font-size: 14px;
  color: var(--dark-text-color);
}

.successEmail {
  background-color: var(--background-color);
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 10px;
  border: solid 1px var(--border-see-through-color);
  outline: none;
  transition: border-color 0.2s;
}

/* Sticker adding: adding failed */
.invalid {
  border-color: var(--error-color);
}

.customDivIcon {
  background-color: var(--background-color);
  border-radius: 50%;
  padding: 4px;
}

/* leaflet popup styling */
.leaflet-popup-content-wrapper .leaflet-popup-content {
  display: flex;
  flex-direction: column;
}

.leaflet-popup-content-wrapper .leaflet-popup-content h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.leaflet-popup-content-wrapper .leaflet-popup-content img {
  border-radius: 5px;
}

.leafletMarkerButton {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.markerBoardYearDiv {
  display: flex;
  width: 100%;
}

.markerBoardYearText {
  /* width: 70%;\ */
}

.markerBoardYear {
  color: var(--light-text-color);
  border-radius: 2rem;
  text-align: center;
  width: 2rem;
  margin: 0 0.5rem;
  justify-self: center;
}

/* Maybe add styling for when you hover or click a button? */
.leafletMarkerButton:hover {
  /* background-color:#be0202; */
}

/* nearYouOverlay */
#nearYouOverlay.mobile {
  position: fixed;
  z-index: 999;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  transition: bottom 0.5s, border-radius 0.5s;
  /* Transition for sliding  */
  transition-timing-function: "ease-in";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px -3px 5px var(--navbar-shadow-color);
}

#nearYouOverlay.desktop {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  position: fixed;
  z-index: 1;
  top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-color);
  overflow-x: hidden;
  padding-top: 1rem;
  transition: 0.5s;
  transition-timing-function: "ease-in";
}

#nearYouOverlay.desktop.active {
  left: calc(100vw - var(--sidebar-width));
  margin-left: 0;
}

#nearYouOverlay.desktop.inactive {
  left: 100vw;
}

#nearYouOverlay.mobile.active {
  bottom: 0;
  border-radius: 0px 0px 0px 0px;
  overflow-y: auto;
}

#nearYouOverlay.mobile.inactive {
  bottom: -90%;
  border-radius: 15px 15px 0px 0px;
  overflow-y: hidden;
}

/* desktop button */
#nearYouDesktopToggleButton.desktop {
  display: block;
  position: fixed;
  top: calc(var(--navbar-height) + 5vh);
  z-index: 1000;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  transition: 0.5s;
  transition-timing-function: "ease-in";
}

#nearYouDesktopToggleButton.desktop.inactive {
  right: 5vw;
}

#nearYouDesktopToggleButton.desktop.active {
  right: calc(var(--sidebar-width) + 5vw);
}

#nearYouDesktopToggleButton.mobile {
  display: none;
}

/* nearYouMobileLine */
#nearYouOverlay.mobile>#nearYouMobileLine {
  display: block;
  margin-top: 0.5rem;
  width: 10%;
}

#nearYouOverlay.mobile.active>#nearYouMobileLine {
  display: none;
}

#nearYouOverlay.desktop>#nearYouMobileLine {
  display: none;
}

/* nearYouTopText */
#nearYouTopText {
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  color: var(--dark-text-color);
}

/* sticker divs styling */
.stickerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--dark-text-color);
  transition: background-color 0.8s;
  transition-timing-function: "ease-in";
  margin-bottom: 2rem;
  width: 80%;
  border-radius: 5px;
}

.stickerDiv h3 {
  font-weight: 600;
}

.stickerDiv .stickerDivImg {
  width: 40%;
  border-radius: 5px;
}

.stickerDiv .stickerDivButton {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  width: 30%;
}

.stickerDiv.revealed {
  background-color: var(--element-background-color);
}

.stickerDiv,
.stickerDiv>* {
  transition: opacity 0.8s;
  transition-timing-function: "ease-in";
}

.stickerDiv:not(.revealed),
.stickerDiv:not(.revealed)>*:not(.revealed) {
  opacity: 0;
}

.stickerDiv.revealed,
.stickerDiv>*.revealed {
  opacity: 1;
}

.error:not(.revealed) {
  display: none;
}

.error.revealed {
  display: block;
  color: #ff0000;
}